/* Estilos do Footer */
.footer {
  background-color: #52187B;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Alinha as divs de forma espaçada */
}

.div-links {
  p {
    color: black;
    font-family: "Nunito", "Heuvica";
    font-size: 20px;
  }
}

.div-imgs {
  text-align: center; /* Centraliza o conteúdo */
}

.div-imgs p {
  margin-bottom: 10px; /* Espaçamento entre o texto e os ícones */
  font-size: 16px; /* Ajuste do tamanho do texto, se necessário */
}

.icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  gap: 20px; /* Espaçamento entre os ícones */
}

.icons img {
  width: 40px; /* Tamanho fixo para os ícones */
  height: 40px; /* Mantém o tamanho proporcional */
  object-fit: contain; /* Garante que os ícones não distorçam */
}


/* Outros estilos do Footer */
.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.bloco {
  text-align: left;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-links a:hover {
  text-decoration: underline;
}
