@import url("https://fonts.googleapis.com/css?family=Nunito:700,600");

body {
    margin: 0;
    font-family: "Nunito";
    background-color: #121212;
    /* Fundo preto para o corpo */
    color: white;
    padding: 0;
}